.conteiner {
    display: flex;
   flex-direction: column;
   align-items: center;
}
.conteinerCard {

    border: 1px solid; 
    padding: 10px;
    text-align: center;
    width: 50vw;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto; /* Center the loader */
    display: "block";
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  